<% if(photo) {%>
	<h1> <%= title %> </h1>
	<img class="img-show" src="<%= photo%>">

	<div class="button-holder">
		<a href="/photos/edit/<%= id %>"><button class="btn btn-dark">Edit this Photo</button></a>
		<p> <%= description %> </p>
		<form action="/photos/<%= id %>?_method=DELETE" method="POST">
			<button class="btn btn-dark">Delete this Photo</button>
		</form>
	</div>
<% } -%>
