<div class="home-container">
	<div class="spotify">


	</div>

	<div class="content">
		<h3>You are logged in as <%=user%> and have successfully connected your Spotify account</h3>
	</div>

	<%=session%>
	<%=user%>

	<% if(user.photos != undefined) {%>
		<% for (let i = user.photos.length-1; i >= 0; i--) { -%>
			<% if (user.photos[i].url) {%>

				<img src="<%= user.photos[i].url%>" class="show-image card-img img-fluid">

			<%} %>
		<% } -%>
	<% } -%>


</div>



<script type="text/javascript" src='/js/index.js'></script>
<script type="text/javascript">
	const access_token = '<%=access_token%>';
	const refresh_token = '<%=refresh_token%>';
	testFunction(access_token);
	getPlaylistData(access_token, refresh_token)

</script>
